<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>KANJI KENTEI 再試験@秋葉原MOGRA</string>
	<key>Contents</key>
	<string>2010/10/09（土曜日）
15:00～
2000Yen/1drink

KANJI KENTEI 再試験

秋葉原MOGRAにて去年10月に行われた伝説的なイベントKANJIKENTEIが再び一年ぶりに開催。
UKからエレクトロベースラインシーンを一人で突っ走る男ことKanjiKineticが来日。
マルチネレコードからリリースを重ねるGassyohや、若干17歳のベースラインハウスクリエイター Madmaidがこの日の為に参戦して日本の底力を見せつけます。
またこの日の為に結成された、みみみ+NEO hetare + shitarabaによるskweeユニットは驚愕のねじりっぷりを披露するはずです。その他にも EccyによるダブステップDJや、JaQwaによるテクニカルなライブ、ワイルドパーティーによるお祭り、SilvanianFamiliesによる萌えベースラインなど見どころ多数です。
今回の再試験を逃すともうこのチャンスはないかも！エレクトロハウス、ダブステップ、スクウィーといったクラブミュージック好きの人も、初めてクラブに来る人も楽しめるはず！マルチネレコードが総力で贈るKANJIKENTEIを見逃すな！

Kanji Kinetic from UK
Gassyoh
Madmaid
Eccy
JaQwa
Silvanian Families
DJ WILD PARTY
みみみ + NEO hetare + shitaraba

VJ:VIDEOBOY</string>
	<key>ImageUrl</key>
	<string>http://maltine.b11.coreserver.jp/maru50_image.png</string>
</dict>
</plist>
