<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>MP3 KILLED THE CD STAR ?
 -iTunes Storeリリース記念イベント-</string>
	<key>Contents</key>
	<string>日時：2010年8月18日 19:00~20:00
会場：Apple Store Ginza
料金：FREE!!!
出演：
【LIVE】
三毛猫ホームレス
Gassyoh
コバルト爆弾αΩ
芳川よしの
+
シークレットゲスト

【VJ】
GraphersRock
コバルト爆弾αΩ

【DECO】
嫁入りランド</string>
	<key>ImageUrl</key>
	<string>http://maltine.b11.coreserver.jp/maru50_image.png</string>
</dict>
</plist>
